:root {
    --primary-white-color: #ffffff;
    --classic-background-color: #f4f4fd;
    --adres-text-color: #434455;
    --button-color: #4D5AE5;
    --nav-log-foot-color: #2e2f42;
    --brand-color: #404bbf;
    --prymary-fonts: 'Roboto', sans-serif;
    --title-font: 'Raleway', sans-serif;
}

.baton-port {
    background-color: var(--primary-white-color, #ffffff);
}

.button-port-link {
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    /* 150% */
    letter-spacing: 0.04rem;
}

.button-port-link:hover,
.button-port-link:focus {
    color: var(--button-color, #4D5AE5);
}